.blog-body{
  margin: 5px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #cccccc;
  background-image: url("FondoCocina.jpg");
  background-repeat: no-repeat;
  background-size:100% 250%;
  }


.titulo {
  background-color: #dce5e4 ;
}

.columna_izq{
  background-color: #34c9ba;
}

.columna_der{
  background-color: #3ffce9;
}

/** desktop-laptop y tablet horizontal **/
@media (min-width:768px) and (max-width:1023px)  {
  .columna_izq{
    height: 1650px;
  }
}

@media (min-width:1024px){
  .columna_izq{
    height: 1050px;
  }
}


.titulo {
  padding: 2px;
}


.blog-post, .busqueda, .navegacion, .titulo_favoritos, .favoritos{
  padding: 5px;
  margin: 15px;
}

.comentarios{
  background-color: #dce8e6;
  padding-top: 15px;
  padding-bottom: 2px;
}

.historial_comentarios{
  background-color: #dce5e4;
  padding-top: 15px;
  padding-bottom: 2px;

}

i {
  font-size: 30px;
}

.fi-magnifying-glass{
  padding: 0;
}
